:root {
  --mainFade: #777778;
  --mainBlack: #03071e;
  --darkBrown: #370617;
  --mainBrown: #6a040f;
  --brownRed: #9d0208;
  --mainRed: #d00000;
  --orangeRed: #dc2f02;
  --mainOrange: #e85d04;
  --lightOrange: #f48c06;
  --orangeGold: #faa307;
  --mainGold: #ffba08;

}

* {
  margin: 0;
  padding: 0;
}

body {
  color: var(--mainBlack);
  text-align: center;
}
